{% extends './layout.html' %}

{% block title %}
	我的个人博客
{% endblock %}

{% block head %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}

{%  block content %}	
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
    <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="imgs/a1.jpg" alt="轮播图">			      
    	</div>
	    <div class="item">
	        <img src="imgs/a2.jpg" alt="轮播图">
	    </div>
	    <div class="item">
	        <img src="imgs/a3.jpg" alt="轮播图">
	    </div>
	    <div class="item">
	        <img src="imgs/a4.jpg" alt="轮播图">
	    </div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
</div>


<div class="panel panel-default content-item">
  <div class="panel-heading">
  	<h3 class="panel-title">
  		<a href="detil.html">标题</a>
  	</h3>
  </div>
  <div class="panel-body">
    从各地来看，有19个省份2月CPI同比涨幅较上月回落，这与2月份全国CPI同比涨幅回落趋势一致，且多地涨幅出现连续回落。

	具体来看，江苏、河北、山东3个省份CPI涨幅连续5个月回落；北京、山西、湖北、湖南、云南、青海6个省份涨幅连续4个月回落；四川涨幅连续2个月回落。

	中新经纬客户端还注意到，海南2月CPI涨幅较上月大幅回落了1.1个百分点，是回落幅度最大的一个省份。此外，重庆2月CPI涨幅较上月回落了1个百分点。
  </div>
   <div class="panel-footer">
		<span class="glyphicon glyphicon-user"></span>
		<span class="panel-footer-text text-muted">红袖添香</span>
		<span class="glyphicon glyphicon-th-list"></span>
		<span class="panel-footer-text text-muted">撒由那拉</span>
		<span class="glyphicon glyphicon-time"></span>
		<span class="panel-footer-text text-muted">2019-3-14</span>
		<span class="glyphicon glyphicon-eye-open"></span>
		<span class="panel-footer-text text-muted">7562</span>
   </div>
</div>
<div class="panel panel-default content-item">
  <div class="panel-heading">
  	<h3 class="panel-title">
		<a href="detil.html">标题</a>
  	</h3>
  </div>
  <div class="panel-body">
    从各地来看，有19个省份2月CPI同比涨幅较上月回落，这与2月份全国CPI同比涨幅回落趋势一致，且多地涨幅出现连续回落。

	具体来看，江苏、河北、山东3个省份CPI涨幅连续5个月回落；北京、山西、湖北、湖南、云南、青海6个省份涨幅连续4个月回落；四川涨幅连续2个月回落。

	中新经纬客户端还注意到，海南2月CPI涨幅较上月大幅回落了1.1个百分点，是回落幅度最大的一个省份。此外，重庆2月CPI涨幅较上月回落了1个百分点。
  </div>
   <div class="panel-footer">
		<span class="glyphicon glyphicon-user"></span>
		<span class="panel-footer-text text-muted">红袖添香</span>
		<span class="glyphicon glyphicon-th-list"></span>
		<span class="panel-footer-text text-muted">撒由那拉</span>
		<span class="glyphicon glyphicon-time"></span>
		<span class="panel-footer-text text-muted">2019-3-14</span>
		<span class="glyphicon glyphicon-eye-open"></span>
		<span class="panel-footer-text text-muted">7562</span>
   </div>
</div>
<div class="panel panel-default content-item">
  <div class="panel-heading">
  	<h3 class="panel-title">
		<a href="detil.html">标题</a>
  	</h3>
  </div>
  <div class="panel-body">
    从各地来看，有19个省份2月CPI同比涨幅较上月回落，这与2月份全国CPI同比涨幅回落趋势一致，且多地涨幅出现连续回落。

	具体来看，江苏、河北、山东3个省份CPI涨幅连续5个月回落；北京、山西、湖北、湖南、云南、青海6个省份涨幅连续4个月回落；四川涨幅连续2个月回落。

	中新经纬客户端还注意到，海南2月CPI涨幅较上月大幅回落了1.1个百分点，是回落幅度最大的一个省份。此外，重庆2月CPI涨幅较上月回落了1个百分点。
  </div>
   <div class="panel-footer">
		<span class="glyphicon glyphicon-user"></span>
		<span class="panel-footer-text text-muted">红袖添香</span>
		<span class="glyphicon glyphicon-th-list"></span>
		<span class="panel-footer-text text-muted">撒由那拉</span>
		<span class="glyphicon glyphicon-time"></span>
		<span class="panel-footer-text text-muted">2019-3-14</span>
		<span class="glyphicon glyphicon-eye-open"></span>
		<span class="panel-footer-text text-muted">7562</span>
   </div>
</div>


<nav aria-label="Page navigation" id="page">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block footer %}
	<script src="js/index.js"></script>
{% endblock %}

				 

</html>