.detil-panel .panel-title{
	font-size: 30px;
}
.detil-panel .sub-title{
	margin-top: 10px;
}
.detil-panel .sub-title span{
	margin-right: 15px;
}
.detil-panel .panel-body{
	background: #fff !important;
	min-height: 800px;
}