
 .link:hover{
	text-decoration: none;
	color: #ff6788;
}
.text-ellipsis{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#kz-navbar{
	/*background: transparent;*/
	opacity: 0.8;
}
#kz-navbar .navbar-brand{
	margin-right: 20px;
}
#kz-navbar .navbar-nav .active a{
	color: #ff6788;
	background: transparent;
}
#kz-navbar .navbar-nav a{
	font-size: 16px;
	margin-right: 20px;
}



.main{
	margin-top: 70px;
}
/*.main #carousel-example-generic{
	margin-bottom: 20px;
}
.main #carousel-example-generic img{
	width: 100%;
	height: 500px !important;
}*/
.col-md-4 .thumbnail{
	border: none;
	padding: 0;
	height: 240px;
	transition: all 0.5s;
}
.col-md-4 .thumbnail:hover{
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.col-md-4 .ad img{
	width: 100%;
	height: 100%;
}
.content-item .panel-heading{
	background: transparent;
	padding-left: 0;
	border: none;
}
.content-item .panel-heading h3{
	padding-left: 13px;
	border-left: 2px solid #ff6788;
}
.content-item .panel-footer{
	background: transparent;
	border: none;
}
.content-item .panel-footer .panel-footer-text{
	margin-right: 20px;
}
.content-item:hover .panel-title a{
	color: #ff6788;
	text-decoration: none;
}
#page .pagination li a:hover{
	color: #ff6788;
}


.custom-panel .panel-heading{
	background: transparent;
	border: none;
}
.custom-panel .panel-body{
	background: #f7f7f7;
}
.media img{
	width: 100px;
	height: 100px;
}
.hot-list .panel-body{
	padding-left: 0;
	padding-right: 0;
}
.hot-list .panel-body .list-group-item{
	border: none;
	background: #f7f7f7;
}
.hot-list .panel-body .list-group-item .link{
	display: block;
}
.focus-me img{
	width: 200px;
	height: 200px;
}
footer{
	text-align: center;
}