.content{
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after{
	content:"";
	clear:both;
	display: block;
	height: 0px;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
a{
	font-size: 12px;
	color: #b0b0b0;
	text-decoration: none;
}
a:hover{
	color:white;
}
.col1{
	width: 234px;
	float: left;
}
.col2{
	width: 978px;
	float: left;
	margin-left: 14px;
}



.ad{
	height: 120px;
	margin: 42px 0 20px 0;
}
.ad img{
	height: 120px;
	width: 100%;
}




.top{
	height: 60px;
	background: #f5f5f5;
}
.top .col1{
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	color: #464646;
	

}
.top .col2{
	height: 100%;
	position: relative;
}
.top .col2 .view-all{
	height: 60px;
}
.top .col2 .view-all .view-all-character:hover{
	color: #ff6700;
}
.top .col2 .view-all-character:hover~.view-all-arrow{
	background: #ff6700;
}
.top .col2 .view-all .view-all-character{
	position: absolute;
	top: 25px;
	right: 29px;
}
.top .col2 .view-all .view-all-arrow{
	position: absolute;
	top: 26px;
	right: 0;
	color: #fff;
	width: 20px;
	height: 20px;
	background: gray;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
}
.top .col2 .tab .tab-item{
	float: right;
	font-size: 15px;
	line-height: 60px;
	margin-left: 30px;
}
.top .col2 .tab .tab-item:hover{
	color: #ff6700;
	text-decoration: underline;
	
}






.bd .col1 .aside-top{
	width: 234px;
	height: 300px;
	margin-bottom: 13px;
	transition: all 1s;
}
.bd .col1 .aside-bottom{
	width: 234px;
	height: 300px;
	transition: all 1s;
}
.bd .col1 .aside-top:hover,
.bd .col1 .aside-bottom:hover{
	transform: translateY(-3px);
	box-shadow: 5px 5px 2px #ccc;
}
.bd .col2{
	height: 100%;
}
.product{
	position: relative;
	float: left;
	width: 234px;
	margin-left: 14px;
	text-align: center;
	transition: all 1s;
}
.product:hover{
	transform: translateY(-3px);
	box-shadow: 5px 5px 2px #ccc;
}
.product:first-child{
	margin-left: 0px;
}
.product-m{
	height: 300px;
	background: #fff;
}
.product-m:nth-child(1),
.product-m:nth-child(2),
.product-m:nth-child(3),
.product-m:nth-child(4){
	margin-bottom: 14px;
}
.product-m:nth-child(5){
	margin-left: 0px;
}
/*.bg{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 234px;
	background: rgba(0,0,0,0.02);
	z-index: 3;
}
.bg-m{
	height: 300px;
}*/
.product-m img{
	height: 160px;
	width: 160px;
	margin: 30px 0px 20px 0px;
}
.product-m .unibody{
	font-size: 12px;
	color: #c2c4c4;
	margin:10px 0px 10px 0px;
}
.product-m strong{
	color: #ff6700;
	font-size: 14px;
}
.product-m del{
	color: #c2c4c4;
	font-size: 14px;
}
.flag{
	position: absolute;
	left: 50%;
	margin-left: -32px;
	top: 0px;
	width: 64px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}
.flag-new{
	background: #83c44e;
}
.flag-off{
	background: #e53935;
}
.recomnde{
	position: absolute;
	bottom: 0px;
	width: 234px;
	height: 0px;
	line-height: 15px;
	background: #ff6700;
	overflow: hidden;
	font-size: 14px;
	color: #fff;
	text-align: left;
	transition: all 0.5s;
}
.product:hover .recomnde{
	height: 75px;
}
.recomnde-word,.author{
	display: inline-block;
}
.recomnde-word{
	padding: 10px 30px 0 30px;
}
.author{
	padding: 10px 30px 20px 30px;
	font-size: 12px;
}
.product-last{
	background: #f5f5f5;
}
.product .more{
	width: 100%;
	height: 143px;
	background: #fff;
	font-size: 15px;
}
.product .more-top{
	margin-bottom: 14px;
	
}
.product .more-top img{
	position: absolute;
	right: 20px;
	top: 10px;
	width: 80px;
	height: 80px;
}
.product .more-top .name{
	position: absolute;
	top: 40px;
	left: 20px;
	
}
.product .more-top .price{
	position: absolute;
	top: 70px;
	left: 20px;
}
.product .more-bottom .view-more{
	position: absolute;
	bottom: 60px;
	left: 20px;
	font-size: 18px;
}
.product .more-bottom .view-hot{
	position: absolute;
	bottom: 40px;
	left: 20px;
	font-size: 12px;
	color: #7d7d7d;
}
.product .more-bottom i{
	position: absolute;
	right: 35px;
	bottom: 45px;
	font-size: 48px;
	color: #ff6700;
}