.all-top{
	/*height: 40px;*/
	background: #333;
}
.content .content-nav{
	float: left;
	height: 40px;
	text-align: center;
}
.content-nav-item{
	display: block;
	float: left;
	line-height: 40px;
}
.top .sep{
	color: #42423b;
	margin: 0 0.5em;
}
.top .car{
	position: relative;
}
.user-info-car{
	float: right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #424242;

}
.iconfont.icon-car{
	font-size: 18px;
	vertical-align: -4px;
}
.top .car .empty-car{
	position: absolute;
	top: 40px;
	right: 0;
	width: 300px;
	height: 100px;
	background: red;
	z-index: 999;
}
.user-info{
	float: right;
	width: 170px;
	height: 40px;
	line-height: 40px;
}
.user-info .user-info-item{
	float: right;
}
.header .logo{
	float: left;
	width: 55px;
	height: 55px;
	background: #ff6700;
	margin-top: 21px;
}
.header .logo a{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: url(../image/logo.png);
	text-indent: -3333px;
}
.header .header-nav{
	float: left;
	height: 100px;
	margin-left: 189px;
}
.header .header-nav .header-nav-item{
	float: left;
	margin-right: 22px;
}
.header .header-nav .header-nav-item a{
	line-height: 100px;
	font-size: 15px;
	color: black;
}
.header .header-nav .header-nav-item a:hover{
	color: #ff6700;
}
.header .serch{
	float: right;
	width: 296px;
	height: 51px;
	margin-top: 25px;
	position: relative;
}
.header .serch:hover .serch-boder,.header .serch:hover .serch-button{
	border-color:gray;
}
.header .serch .serch-boder{
	float: left;
	width: 245px;
	height: 51px;
	outline: none;
	border: 1px solid #eee;
	box-sizing: border-box;
}
.header .serch .serch-boder:focus~.hot-word{
	display: block;
	background: #fff;
	z-index: 999;
}
.header .serch .serch-boder:focus~.serch-keyword{
	display: none;
}
.header .serch .serch-boder:focus{
	border: 1px solid #ff6700;
}
.header .serch .serch-boder:focus~.serch-button{
	border-color: #ff6700;
}
.header .serch .serch-button{
	float: left;
	width: 51px;
	height: 51px;
	border: 1px solid #eee;	
	border-left: none;
	box-sizing: border-box;
	line-height: 51px;
	text-align: center;
	font-size: 18px;
}
.header .serch .serch-button:hover{
	background: #ff6700;
}
.header .serch .serch-button:hover .iconfont{
	color: white;
}
.header .serch .serch-keyword{
	position: absolute;
	left: 124px;
	top: 15px;
}
.header .serch .serch-keyword a{
	background: #eee;
}
.header .serch .serch-keyword a:hover{
	background: #ff6700;
}
.header .serch .hot-word{
	position: absolute;
	left: 0px;
	top: 51px;
	display: none;
	width: 245px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	padding: 0 15px;
}
.header .hot-word a{
	height: 29.6px;
	line-height: 29.6px;
	color: #424242;
}
.header .hot-word span{
	float: right;
	color: #b0b0b0;
}
.home .content{
	height: 1272px;
}
.home .home-banner{
	position: relative;
	height: 460px;
}
.home .home-banner .list{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 234px;
	height: 100%;
	background:rgba(0,0,0,0.5);
	z-index: 999;
	padding: 20px 0px;
	box-sizing: border-box;
}
.home .home-banner .list .list-item{
	line-height: 42px;
	padding:0 24px 0 30px;
}
.home .home-banner .list .list-item:hover{
	background: #ff6700;
}
.home .home-banner .list .list-item a{
	font-size: 14px;
	color: #fff;
}
.home .home-banner .list .list-item i{
	float: right;
}



.home .home-banner .carousel{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	/*background: blue;*/
}
.home .home-banner .carousel .carousel-item{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 460px;
}
.home .home-banner .carousel img{
	width: 100%;
	height: 460px;
}
.home .home-banner .carousel .arrow{
	position: absolute;
	width: 40px;
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	font-weight: bold;
	color: #eee;
}
.home .home-banner .carousel .arrow:hover{
	background: gray;
}
.home .home-banner .carousel .left-arr{
	top: 190px;
	left: 234px;
}
.home .home-banner .carousel .right-arr{
	top: 215px;
	right: 0px;
}
.home .home-banner .carousel .carousel-bot{
	position: absolute;
	right: 35px;
	bottom: 24px;
}
.home .home-banner .carousel-bot li{
	float: left;
	width: 5px;
	height: 5px;
	border: 2.5px solid gray;
	background: #424242;
	border-radius: 50%;
	margin-left: 10px;
}
.home .home-banner .carousel-bot li:hover{
	background: white;
}
.home .home-hot{
	height: 170px;
	margin: 14px 0 25px 0;
}
.home .home-hot .col1{
	background: #5f5750;
	height: 100%;
	
}
.home .home-hot .col1 .channel-item{
	float: left;
	position: relative;
	width: 78px;
	height: 85px;
	padding: 21px 0 23px 0;
	box-sizing: border-box;
	text-align: center;
}
.home .home-hot .col1 .channel-item i{
	font-size: 24px;
}
.home .home-hot .col1 .rightline:after{
	position: absolute;
	left: 78px;
	top: 7px;
	display: block;
	content: '';
	width: 1px;
	height: 71px;
	background: #cfcdcb;
}
.home .home-hot .col1 .topline:before{
	position: absolute;
	left: 7px;
	top: 0px;
	display: block;
	content: '';
	width: 64px;
	height: 1px;
	background: #cfcdcb;
}
.home .home-hot .col2{
	height: 100%;
}
.home .home-hot .col2 .promote-item{
	float: left;
	width: 316px;
	height: 170px;
	margin-left: 15px;
}
.home .home-hot .col2 .promote-item:first-child{
	margin-left: 0px;
}
.home .home-hot .col2 .promote-item-img{
	width: 100%;
	height: 100%;
}
.home .home-flash .flash-top{
	background: #fff;
}
.home .home-flash .flash-top .col1{
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	color: #464646;
}
.home .home-flash .flash-top .col2{
	height: 100%;
}
.home .home-flash .col2 .flash-arrow{
	float: right;
	width: 36px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #b0b0b0;
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 25px;
}
.home .home-flash .flash-arrow a:hover{
	color: #ff6700;
}
.home .home-flash .col2 .flash-arrow-right{
	border-right: none;
}
.home .home-flash .flash-bd{
	height: 340px;

}
.home .home-flash .flash-bd .col1{
	height: 100%;
	background: #f1eded;
	

}
.home .home-flash .flash-bd .time{
	text-align: center;
	border-top: 1px solid red;
}
.home .home-flash .flash-bd .time-name{
	margin: 62px 0 34px 0;
	font-size: 20px;
	color: #e53934;
}
.home .home-flash .flash-bd .time-reminder{
	color: #706f6f;
	margin: 30px 0 33px 0;
}
.home .home-flash .flash-bd .time-number{
	display: inline-block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	color: #fff;
	font-size: 22px;
	background: #605751;
}
.home .home-flash .flash-bd .col2{
	height: 100%;
}

.home .home-flash .col2 .flash-product{
	/*position: relative;
	float: left;*/
	height: 340px;
	/*width: 234px;
	margin-left: 14px;
	text-align: center;*/
}
.home .home-flash .col2 .flash-product:first-child{
	margin-left: 0px;
	border-top: 1px solid pink;
}
.home .home-flash .col2 .flash-product:nth-child(2){
	border-top: 1px solid blue;
}
.home .home-flash .col2 .flash-product:nth-child(3){
	border-top: 1px solid green;
}
.home .home-flash .col2 .flash-product:nth-child(4){
	border-top: 1px solid purple;
}
.home .home-flash .col2 .bg{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 234px;
	height: 340px;
	background: rgba(0,0,0,0.02);
	z-index: 3;
}
.home .home-flash .flash-product img{
	height: 160px;
	width: 160px;
	margin: 43px 0px 30px 0px;
}
.home .home-flash .flash-product .unibody{
	font-size: 12px;
	color: #c2c4c4;
	margin:10px 0px 15px 0px;
}
.home .home-flash .flash-product strong{
	color: #ff6700;
}
.home .home-flash .flash-product del{
	color: #c2c4c4;
}
/*.ad{
	height: 120px;
	margin-top: 42px;
}
.ad img{
	height: 120px;
	width: 100%;
}*/




.main .content{
	/*height: 2176px;*/
	background: #f5f5f5;
	padding-bottom: 60px;
}
.main .phone .phone-bd{
	height: 614px;
}
.main .phone .phone-bd .col1{
	height: 614px;
	transition: all 1s;
}
.main .phone .phone-bd .col1 img{
	height: 100%;
	width: 100%;
}
.main .phone .phone-bd .col1:hover{
	transform: translateY(-3px);
	box-shadow: 10px;
}
.main .video .video-item{
	position: relative;
	float: left;
	width: 296px;
	height: 285px;
	background: #fff;
	margin-left: 14px;
	text-align: center;
}
.main .video .video-item:nth-child(1){
	margin-left: 0px;
}
.main .video .video-item img{
	width: 100%;
	height: 180px;

}
.main .video .video-item img:hover~.play{
	background: #ff6700;
	border-color: #ff6700;
}
.main .video .video-item img:hover~.first-line{
	color: #ff6700;
}
.main .video .video-item .play{
	position: absolute;
	left: 13px;
	top: 147px;
	width: 36px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 3px solid #fff;
	background: transparent;
	border-radius: 20px;
}
.main .video .video-item .first-line{
	margin-top: 32px;
	margin-bottom: 14px;
	font-size: 13px;
	color: #333;
}
.main .video .video-item .first-line:hover{
	color: #ff6700;
}
.main .video .video-item .second-line{
	color: #b0b0c1;
	font-size: 11px;
}
.main .video .play i{
	color: #fff;
	font-size: 30px;

}








.footer .content{
	height: 277px;
}
.footer .content .service{
	width: 100%;
	height: 80px;
	border-bottom: 2px solid #e0e0e0;
	padding-top: 27px;
	box-sizing: border-box;
}
.footer .content .service .service-item{
	float: left;
	width: 20%;
	height: 25px;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	line-height: 25px;
	text-align: center;

}
.footer .content .service .service-item:hover a,
.footer .content .service .service-item:hover i{
	color: #ff6700;
}
.footer .content .service-item a{
	font-size: 16px;
	color: #616161;
}
.footer .content .service-item i{

	font-size: 24px;
}
.footer .content .about .about-item{
	float: left;
	width: 160px;
	height: 112px;
}
.footer .content .about-item dt{
	font-size: 14px;
	color: #424242;
	margin: 40px 0 30px 0;
}
.footer .content .about-item dd{
	margin-bottom: 15px;
}
.footer .content .about-item dd a:hover{
	color: #ff6700;
}
.footer .content .about .contact{
	float: right;
	width: 251px;
	height: 112px;
	text-align: center;
	margin-top: 42px;
	border-left: 1px solid #e0e0e0;
}

.footer .content .about .phone-number{
	font-size: 18px;
	color: #ff6700;
	margin-bottom: 11px;
}
.footer .content .about .work-time{
	font-size: 11px;
	color: #6f6a6a;
}
.footer .content .about .message{
	width: 118px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #ff6700;
	border: 1px solid #ff6700;
	margin: 19px auto 0 auto;

}
.footer .content .about .contact .message:hover{
	color: #fff;
	background: #ff6700;
}
.footer .content .about .message i{
	margin-right: 3px;
}




.end .content{
	position: relative;
	height: 163px;
	padding-top: 27px;
	box-sizing: border-box;
}
.end .content .logo{
	float: left;
	width: 57px;
	height: 57px;
	background: #ff6700;
}
.end .content .small-word{
	float: left;
	width: 720px;
	height: 72px;
}
.end .content .end-tip{
	float: left;
	position: relative;
	margin-left: 10px;
}
.end .content .end-tip a:hover{
	color: #ff6700;
}
.end .content .end-tip .separator{
	position: absolute;
	right: -5px;
	top: 8px;
	width: 1px;
	height: 9px;
	background: #b2b0b2;
}
.end .content p{
	float: left;
	margin-left: 10px;
	line-height: 12px;
}
.end .content p a:hover{
	color: #ff6700;
}
.end .content .links{
	float: right;
}
.end .content .links img{
	float: right;
	width: 85px;
	height: 28px;
}
.end .content .fever{
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-left: -133.5px;
	width: 267px;
	height: 19px;

}
.end .content .fever img{
	width: 100%;
	height: 100%;
}
